/* 헤더 스타일 */
header {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
}
header .gnb .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .gnb .logo a {
  width: 153px;
  height: 53px;
}
header .gnb .logo a img.logo-mo {
  display: none;
}
header .gnb .logo a img.logo-pc {
  display: block;
}
header .gnb a.btn_login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.4375rem; /* 12px 23px; */
  width: 128px;
  height: 48px;
  border-radius: 8px;
}
/* 배너 섹션 스타일 */
section.banner {
  align-items: flex-end;
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
}
section.banner .inner .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem; /* 32px */
  padding-bottom: 100px;
}
section.banner .inner .info .text {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 1.4;
}
section.banner .inner .info a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 40px;
  font-size: 1.25rem; /*20px*/
  font-weight: 600;
  line-height: 32px;
}
section.banner .inner .img-wrap {
  align-items: flex-end;
}
section.banner .inner img {
  /* width: 746px; */
  width: 100%;
}

/* 메인 섹션 스타일 */
section.main {
  justify-content: center;
  align-items: center;
  height: 720px;
}
section.main .inner {
  width: 988px;
  height: 444px;
  gap: 55px;
  background-color: #fcfcfc;
  border-radius: 12px;
}
section.main .inner img {
  width: 579px;
}
section.main .inner .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px 24px;
}
/* 리버스 스타일 */
section.main .inner.reverse {
  flex-direction: row-reverse;
  text-align: right;
}
section.main .inner .info .label {
  font-size: 1.13rem; /* 18px; */
  font-weight: 800;
  line-height: 1.63rem; /* 26px; */
  color: var(--primary-color-100);
}
section.main .inner .info .title {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.08em;
}
section.main .inner .info .description {
  font-size: 1.5rem; /* 24px; */
  font-weight: 500;
  line-height: 2rem; /* 32px; */
}
/* 푸터 스타일 */
footer {
  height: 160px;
  padding: 32px 0;
  background-color: #111827;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
}
footer .copyright {
  color: #9ca3af;
}
footer .footer_menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .footer_menu a {
  color: #e5e7eb;
}
footer .sns-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 0 24px;
  }
  main {
    background-color: #fcfcfc;
  }
  section .inner {
    flex-direction: column;
  }
  section.banner.top {
    margin-bottom: 24px;
  }
  section.banner {
    height: inherit;
  }
  section.banner .inner {
    flex-grow: 1;
  }
  section.banner .inner .info {
    padding: 84px 0 211px;
    gap: 24px;
    justify-content: normal;
    align-items: center;
    text-align: center;
  }
  section.banner .inner .info a.btn {
    width: 357px;
  }
  section.banner.bottom .inner .info {
    padding: 201px 0 217px;
  }
  section.main {
    padding: 0 24px 52px;
    height: inherit;
  }
  section.main .inner {
    height: inherit;
    justify-content: normal;
    flex-direction: column;
    gap: 24px;
  }
  section.main .inner.reverse {
    flex-direction: column;
  }
  section.main .inner img {
    width: inherit;
    border-radius: 14px;
  }
  section.main .inner .info {
    gap: 16px;
  }
  section.main .inner .info .label {
    font-weight: 700;
  }
  section.main .inner .info .title {
    font-size: 32px;
    line-height: 0.7;
  }
  footer .inner {
    justify-content: center;
    gap: 63px;
  }
  section.banner .inner .info .text br,
  section.main .inner .info .title br {
    display: none;
  }
}

/* Mobile */

@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 0 16px;
  }
  header .gnb .logo a {
    width: 103px;
    height: fit-content;
  }
  header .gnb .logo a img.logo-mo {
    display: block;
  }
  header .gnb .logo a img.logo-pc {
    display: none;
  }
  section.banner.top {
    margin-bottom: 52px;
  }
  section.banner {
    height: inherit;
  }
  section .inner {
    flex-direction: column;
  }
  section.banner .inner {
    align-items: center;
  }
  section.banner .inner .info {
    width: fit-content;
    padding: 48px 0 132px;
    gap: 18px;
    justify-content: normal;
    align-items: center;
    text-align: center;
  }
  section.banner .inner .info .text {
    font-size: 32px;
  }
  section.banner.bottom .inner .info {
    padding: 121px 0 130px;
  }
  section.main {
    padding: 0 16px 40px;
    height: inherit;
  }
  section.main:last-child {
    padding: 0 16px 83px;
  }
  section.main .inner {
    height: inherit;
    gap: 24px;
  }
  section.main .inner img {
    width: inherit;
    border-radius: 7px;
  }
  section.main .inner .info {
    gap: 8px;
  }
  section.main .inner .info .label {
    font-size: 1rem;
  }
  section.main .inner .info .title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }
  section.main .inner .info .description {
    font-size: 1rem;
    line-height: 26px;
  }
  section.main .inner.reverse {
    flex-direction: column;
  }
  footer {
    padding: 32px;
  }
  footer .inner > * {
    flex-grow: 1;
  }
  section.main .inner .info .title br {
    display: none;
  }
}
