body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
}

.auth-container {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-field label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #1f2937;
}

.input-field input {
  height: 56px;
  padding: 16px 24px;
  background: #f3f4f6;
  border-radius: 12px;
  font-size: 16px;
  color: #1f2937;
}

.input-field input:focus {
  outline: 2px solid #3692ff;
  outline-offset: 2px;
  background: #ffffff;
}

.auth-form-button {
  height: 56px;
  background: #3692ff;
  border-radius: 40px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
}

.auth-helper-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #1f2937;
}

.auth-helper-text a {
  color: #3692ff;
  text-decoration: underline;
}
