.btn {
  transition: 0.3s;
  white-space: nowrap;
  width: fit-content;
}
.primary {
  color: #fff;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
}
.primary:not(:disabled):hover {
  background-color: #1967d6;
}

.btnL {
  border-radius: 9999px;
  min-width: 128px;
  min-height: 48px;
  max-width: 357px;
  width: 100%;
}

.btnM {
  border-radius: 8px;
  height: 42px;
  padding: 12px 24px;
}
.btnS {
  border-radius: 5px;
}

.txtBtn {
  color: red;
}

.btnLogin,
.btnsignup {
  border: none;
  background-color: var(--point-color);
  border-radius: 40px;
  height: 56px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.btnLogin:disabled,
.btnsignup:disabled,
.btnAddItem:disabled {
  background-color: #aaa;
}

.passwordToggle {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(@/assets/ic_password_view.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  opacity: 0.7;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -12px;
  z-index: 10;
}
.active {
  background-image: url(@/assets/ic_password_view_active.svg);
}

.dropdown {
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.dropdown span {
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.dropdown img {
  width: 16px;
}

.dropdownItem {
  padding: 12px 25px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #1f2937;
  font-weight: 400;
}

.dropdownItem + .dropdownItem {
  border-top: 1px solid #e5e7eb;
}

.btnAddImg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  max-width: 282px;
  aspect-ratio: 1/1;
  width: 100%;
}

.btnAddImg img {
  width: 48px;
}

.btnDelTag {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.likeBtn {
  border: 1px solid #ebebeb;
  border-radius: 9999px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  min-width: 87px;

  color: #6b7280;
  font-size: 16px;
  font-weight: 500;
}
.likeBtn img {
  width: 32px;
}
