* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family : 'Pretendard';
    width : 100%;
    box-sizing: border-box;

}
header {
    height : 70px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1000; 
    border-bottom : solid 1px #DFDFDF;
    background-color: white;
    align-items: center;
    display: flex;
    align-items: center;
}

.headerbox {
    margin : 0 auto;   /* 피드백 반영 (position : absolute 에서 수정 ) */
    width : 100%;
    padding: 0 16px;
    max-width: 1120px;
    display : flex;
    justify-content : space-between;
    align-items : center;
   
   
 
}

.headerbox-left > a > img {
    width : 153px;
    height: 51px;
    cursor: pointer;
}
.headerbox-right > button {
    width : 128px;
    height : 48px;
    background-color : #3692ff;
    border-radius: 8px;
    border : none;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color : #F3F4F6;
    padding : 12px 23px;
    cursor: pointer;

}

.explore-section {
    width : 100%;
    height : 540px;
    background-color : #CFE5FF;
    position : relative;
}
.explore-center {
    display : flex;
    flex-direction: row;
    align-items: center;
    height : 340px;
    width: 1110px;
    position : absolute;
    top : 200px;
    left : 50%;
    transform: translateX(-50%);
    gap: 7px;
    
}

.explore-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 357px;
    height : 260px;
    padding-bottom : 60px;
    gap : 32px;
   
    
}
.explore-left-text {
    width : 295px;
    height : 112px;
    font-weight : 700;
    font-size : 40px;
    line-height : 140%;
    letter-spacing : 0%;
    vertical-align: middle;
}
.explore-left > button {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 357px;
    height : 56px;
    border-radius : 40px;
    padding : 16px 24px;
    gap : 10px;
    background-color: #3692ff;
    border: none;
    font-family : 'Pretendard';
    font-weight : 600;
    font-size : 20px;
    line-height :32px;
    color : #F0FAFB;
    cursor: pointer;
}


main {
    height : 3240px;
    width : 100%;
}

.item {
      width : 100%;
    height : 2160px;
}

.item-check,.item-search, .item-register {
     width : 100%;
    height : 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item-check-center {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 988px;
    height : 444px;
    gap: 64px;
    padding: 0px;
    background: #FCFCFC;
}
.item-check-left {
    width : 579px;
    height: 444px;
}
.item-check-right {
    display:flex;
    flex-direction: column;
    width : 298px;
    padding-right : 24px;
    
}
.item-check-right p:nth-child(1){
font-family: 'Abhaya Libre ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color : #3692FF;
width:80px;
height:26px;
display : flex;
align-items: center;

}
.item-check-right p:nth-child(2){
    font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
display: flex;
align-items: center;
width:222px;
height:112px;
}
.item-check-right p:nth-child(3){
    width: 274px;
height: 64px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: #374151;

}


.item-search-center {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 988px;
    height : 444px;
    gap: 64px;
    padding: 0px;
    background: #FCFCFC;
}
.item-search-left {
      display:flex;
    flex-direction: column;
    width : 298px;
    padding-right : 24px;
}
.item-search-left p:nth-child(1){
font-family: 'Abhaya Libre ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color : #3692FF;
width:80px;
height:26px;
display : flex;
align-items: center;

}
.item-search-left p:nth-child(2){
 font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
display: flex;
align-items: center;
width:222px;
height:112px;
}
.item-search-left p:nth-child(3){
     width: 274px;
height: 64px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: #374151;
}

.item-search-right {
    width : 579px;
    height: 444px;
}



.item-register-center {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width : 988px;
    height : 444px;
    gap: 64px;
    padding: 0px;
    background: #FCFCFC;
}
.item-register-left {
    width : 579px;
    height: 444px;
}
.item-register-right {
    display:flex;
    flex-direction: column;
    width : 298px;
    padding-right : 24px;
    
}
.item-register-right p:nth-child(1){
font-family: 'Abhaya Libre ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color : #3692FF;
width:80px;
height:26px;
display : flex;
align-items: center;

}
.item-register-right p:nth-child(2){
    font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;
display: flex;
align-items: center;
width:222px;
height:112px;
}
.item-register-right p:nth-child(3){
    width: 274px;
height: 64px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: #374151;

}

.panda {
position: relative;
width: 100%;
height: 540px;
left: 0px;
top: 0px;
background: #CFE5FF;
margin-bottom : 0;
}

.panda-center {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 69px;
position: absolute;
width: 1110px;
height: 397px;
left: calc(50% - 1110px/2);
bottom: 0px;
}
.panda-left {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #374151;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 30px;
    gap: 10px;
    width: 300px;
    height: 160px;
    flex-shrink:0;
   
}
.panda-right {
    width: 746px;
    height: 397px;

}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 32px 0;
    gap: 10px;
    background: #111827;
    width: 100%;    
    
}

.footer-center {
    width : 1120px;
    height : 50px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.fc-left p {
    font-weight : 400;
    font-size : 16px;
    color : #9CA3AF
}

.fc-center {
    display : flex;
    gap : 50px;
}
.fc-center p {
    font-weight : 400;
    font-size : 16px;
    color : #E5E7EB
}
.fc-right {
    display : flex;
    gap : 10px;
}