input[type='password'],
input[type='text'] {
  border: 1px solid transparent;
  background-color: #f3f4f6;
  border-radius: 12px;
  height: 56px;
  padding: 12px 24px;
  font-size: 16px;
  color: #1f2937;
  width: 100%;
  position: relative;
  z-index: 1;
}

input[type='password'] {
  padding-right: 48px;
}

input[type='password'].error,
input[type='text'].error {
  border: 1px solid #f74747;
}

.passwordToggle {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(@/assets/ic_password_view.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  opacity: 0.7;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -12px;
  z-index: 10;
}
.passwordToggle.active {
  background-image: url(@/assets/ic_password_view_active.svg);
}
