.content-wrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login-wrap {
  margin: 231px auto;
}

.signup-wrap {
  margin: 60px auto 178px;
}

.logo-btn {
  margin: 0 auto;
  width: 396px;
  height: 132px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--gray-800);
}

.input-field {
  height: 56px;
  border-radius: 12px;
  background-color: var(--gray-100);
  border: none;
  padding: 16px 24px 14px;
  width: 100%;

  color: var(--gray-800);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.input-field ::placeholder {
  color: var(--gray-400);
}

.submit-btn {
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-100);
  height: 56px;

  color: var(--gray-100);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.social-login-wrap {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  padding: 16px 23px;
  border-radius: 8px;
}

.social-login-wrap span {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-800);
}

.social-login-wrap div {
  display: flex;
  gap: 16px;
}

.social-login-wrap div img {
  width: 42px;
  height: 42px;
}

.auth-switch {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-800);
}

.auth-switch a {
  text-decoration: underline;
  color: var(--primary-100);
  margin-left: 4px;
}

.password-wrap {
  position: relative;
}

.password-wrap img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .login-wrap {
    margin: 190px auto 325px;
  }

  .signup-wrap {
    margin: 48px auto 243px;
  }
}

@media (max-width: 767px) {
  .content-wrap {
    width: calc(100% - 32px);
    max-width: 400px;
    gap: 24px;
  }

  .login-wrap {
    margin: 80px auto 231px;
  }

  .signup-wrap {
    margin: 24px auto 179px;
  }

  .logo-btn {
    width: 198px;
    height: 66px;
  }

  form {
    gap: 16px;
  }

  .input-wrap {
    gap: 8px;
  }

  .input-label {
    font-size: 14px;
    line-height: 24px;
  }

  .input-field {
    padding: 15px 24px;
  }

  .submit-btn {
    margin-bottom: 8px;
  }

  .social-login-wrap {
    height: 75px;
    padding: 16px 23px 16px 24px;
    margin-bottom: 8px;
  }
}
